[submodule "crates/freight"]
	path = crates/freight
	url = git@github.com:TiniTinyTerminator/Freight.git
[submodule "crates/freight-registry"]
	path = crates/freight-registry
	url = git@github.com:TiniTinyTerminator/Freight-registry.git
[submodule "crates/docify"]
	path = crates/docify
	url = git@github.com:TiniTinyTerminator/docify.git
[submodule "crates/vcpkg-converter"]
	path = crates/vcpkg-converter
	url = git@github.com:TiniTinyTerminator/vcpkg-converter.git
[submodule "crates/cmake-lossless"]
	path = crates/cmake-lossless
	url = https://github.com/TiniTinyTerminator/cmake-lossless.git
[submodule "editors/vscode-freight"]
	path = editors/vscode-freight
	url = https://github.com/TiniTinyTerminator/vscode-freight.git
[submodule "editors/nvim-freight"]
	path = editors/nvim-freight
	url = https://github.com/TiniTinyTerminator/nvim-freight.git
